@model SocialPage
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">

                <p class="card-description">
                    Create Teacher Form
                </p>
                <form method="post" class="forms-sample" enctype="multipart/form-data">

                    <div class="form-group">
                        <label asp-for="Facebook">Facebook</label>
                        <input accept="image/*" asp-for="Facebook" class="form-control" placeholder="Facebook">
                        <span asp-validation-for="Facebook" style="color:red"> </span>
                    </div>

                    <div class="form-group">
                        <label asp-for="LinkedIn">LinkedIn</label>
                        <input asp-for="LinkedIn" class="form-control" placeholder="LinkedIn">
                        <span asp-validation-for="LinkedIn" style="color:red"> </span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Instagram">Desc</label>
                        <input asp-for="Instagram" class="form-control" placeholder="Instagram">
                        <span asp-validation-for="Instagram" style="color:red"> </span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Whatsapp">Whatsapp</label>
                        <input asp-for="Whatsapp" class="form-control" placeholder="Whatsapp">
                        <span asp-validation-for="Whatsapp" style="color:red"> </span>
                    </div>

                    <div class="form-group">
                        <label asp-for="TeacherId">Teacher Name</label>
                        <select asp-for="TeacherId" class="form-select form-select-lg mb-3" asp-items="@ViewBag.Teachers">
                         
                        </select>
                    </div>



                    <button type="submit" class="btn btn-primary mr-2"> Submit </button>
                    <a asp-action="index"> <btn style="background-color:midnightblue;cursor:pointer;padding:10px"> Back </btn> </a>
                </form>
            </div>
        </div>
    </div>
</div>

